<li>
  <p><%= truncate sanitize(raw(edit.description)), length: 500 %>
    <small><%= link_to edit.user.name, edit.user %>
      <span class="time">
        <%= link_to "#{time_ago_in_words edit.edited_at} ago.", [object, edit] %>
        <%= upvote_button edit %>
        <%= downvote_button edit %>
      	<%= score(edit) %> | 
        <%= report_button edit %>
      </span>	     	
    </small>
    </span>
  </p>
  
</li>