<%= content_for(:title) { "Edits history for #{@idiom.title}" } %>

<h1>Edits history for <%= link_to @idiom.title, @idiom %></h1>

<%= content_for(:sidebar) do %>
  <h4>Contributors: </h4>
  <ul>
    <% @contributors.each do |hash| %>
      <li><%= link_to hash[:user].name, hash[:user] %> 
        <%= pluralize(hash[:count], "edit") %>.
      </li>
    <% end %>
  </ul>
<% end %>

<div class="well well-large">
  <h3>Current Description 
    <small>
      posted at <%= link_to @idiom.updated_at.strftime("%Y-%m-%d %H:%M") %>
    </small>
  </h3>
  <%= @idiom.description %>
</div>

<h3>Full List of Edits</h3>
<ul class="edits">
  <%= render @edits, object: @idiom %>
</ul>