<%= link_to @idiom.title, @idiom %> | 
<%= link_to "#{@idiom.title} Edits" , idiom_edits_path(@idiom) %>

<h3>Edit of <%= @idiom.title %> at 
  <%= @edit.edited_at.strftime("%Y-%m-%d %H:%M") %>
</h3>
<div class="hero-unit">
  <h6>Current Descripiton</h6>
  <p><%= sanitize raw @idiom.description %></p>
</div>
<h6>Current Description</h6>
<p><%= sanitize raw @edit.description %></p>

<h6>Old Description</h6>
<p><%= sanitize raw @edit.description %></p>