<%= content_for(:title) { "Sign In" } %>

<h1>Sign In</h1>
<div class="login_forms">
  <div class= "depot_form">
    <%= form_tag do %>
      <fieldset>
        <legend>Please Log In</legend>
        <div>
        <%= label_tag :email, 'Email:' %>
        <%= text_field_tag :email, params[:email] %>
        </div>
        <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
        <%= submit_tag "Login" %>
        </div>
      </fieldset>

    <% end %>
  </div>

  <div class="logins">
    <span id="facebook">
      <%= link_to (image_tag 'fb-connect-large.png'), 'auth/facebook' %>
    </span>
    <span id="twitter_login">
      <%= link_to (image_tag 'sign_in_with_twitter.jpg', id: "twitter"), '/auth/twitter' %>
    </span>

  </div>
</div>