<% @comment_vote= comment.votes.find_or_initialize_by_user_id(current_user.id) %>
<%#= needed to load each comment vote individually, apologize for the variables in view %>
<li class="comment">
 <%= simple_form_for [@idiom, comment, @comment_vote], 
    html: { id: "comment_upvote_#{comment.id}"}, remote: true do |f| %>
   <%= f.hidden_field :vote_value, value: 1 %>
   <%= f.button :submit, '+', id: "comment_upvote_button_#{comment.id}", 
       class: @comment_vote.vote_value == 1 ? 'btn-success' : "" %>
 <% end %>  

 <%= simple_form_for [@idiom, comment, @comment_vote], 
    html: { id: "comment_downvote_#{comment.id}"}, remote: true do |f| %>
   <%= f.hidden_field :vote_value, value: -1 %>
   <%= f.button :submit, '-', id: "comment_downvote_button_#{comment.id}",
      class: @comment_vote.vote_value == -1 ? 'btn-danger' : "" %>
 <% end %>
 <span class="comment_body"><%= comment.message %></span>
   <span id="score_<%= comment.id %>" 
    class= "<%= comment.total_score >= 0 ? 'positive' : 'negative' %>">
  <%= comment.total_score %>
  </span><br>
 <span id="name">
  posted by <%= link_to comment.user.name, comment.user %> at 
    <%= time_ago_in_words(comment.created_at) %> ago.
 </span>

    <%#= link_to "(+)", [@idiom, comment, @comment_vote], 
      { params: {vote_value: 1} }, method: :post, action: :create,
       remote: true %>
    <%#= link_to "(-)", [@idiom, comment, @comment_vote], 
      { params: {vote_value: -1} }, method: :post, action: :create,
       remote: true %>
</li><br>