<li class="comment">
  <%= upvote_button comment, comment.upvoted_by_user?(current_user) %>
  <%= downvote_button comment, comment.downvoted_by_user?(current_user) %> 
  <span class="comment_body"><%= comment.message %></span>
  <small><%= report_button comment %> </small><br>
  <%= score comment %>
  <span id="name">
   posted by <%= link_to comment.user.name, comment.user %> at 
    <%= time_ago_in_words(comment.created_at) %> ago.
   </span>
</li><br>