<li class="comment">
  <%= upvote_button comment %>
  <%= downvote_button comment %> 
  <span class="comment_body"><%= comment.message %></span>
  <small>
    <%= link_to "report", [@idiom, comment, comment.reports.new], 
      method: :post, id: "report_comment_#{comment.id}", remote: true %>
  </small><br>
  <%= score comment %>
  <span id="name">
   posted by <%= link_to comment.user.name, comment.user %> at 
    <%= time_ago_in_words(comment.created_at) %> ago.
   </span>
</li><br>