<%= content_for(:title) { "Meetup show page" } %>
<%= content_for(:scripts) { javascript_include_tag 'meetups' } %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
<script type="text/javascript">
    var mapOptions = {
      zoom: 18,
      center: new google.maps.LatLng(<%= @meetup.latitude %>, <%= @meetup.longitude %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
</script>

<h3><%= @meetup.name %></h3>

<div id="meetup_info">
  <ul id="meetup_list">
    <li>Group Name: <%= @meetup.group_name %></li>
    <li><%= link_to @meetup.event_url, @meetup.event_url %></li>
    <li><p><%= sanitize raw @meetup.description %></p></li>
    <li>When: <%= @meetup.meetup_time %></li>
    <li>Where: <%= @meetup.address %> <%= @meetup.city %>, <%= @meetup.state %></li>
    <li>Who: <%= pluralize @meetup.attending, "people" %> attending.</li>

  </ul>

</div>
<div id="map_canvas" style="width: 500px; height: 500px"></div>
