<%= content_for(:title) { "Admin Dashboard" } %>

<h1>Admin Dashboard</h1>

<ul id="admin_links">
  <li><%= link_to "View Moderated Objects", admin_reports_path %></li>
  <li><%= link_to "Manage Announcements", admin_announcements_path %></li>
  <li><%= link_to "Manage Users", admin_users_path %></li>
  <li><%= link_to "Manage Idioms", admin_idioms_path %></li>
  <li><%= link_to "Manage Comments", '#' %></li>
</ul>