<%= content_for(:title) { "Conversation with #{@other_user.name}" } %>

<p class="profile">
  <h3>Conversation with <%= link_to @other_user.name, @other_user %></h3><br>
</p>

<ul id="conversation">
  <%= render @conversation.messages %>
</ul>

<%= simple_form_for [@other_user, current_user.sent_messages.new], 
  remote: true do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, "Send Message" %>
<% end %>
