<%= content_for(:title) { "All Users" } %>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:about_me) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_image_tag user.email, gravatar: 
              { default: :monsterid } %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.about_me %></td>
      </tr>
    <% end %>
  </tbody>
</table>

