<%= content_for(:title) { "Create a new language"} %>

<h1>Create a new language</h1>

<%= simple_form_for @idiom do |f| %>
  <%= f.input :title %>
<textarea class="text required redactor" cols="40" rows="120" id="idiom_description" name="idiom[description]" rows="20">
</textarea>
  <%= f.label :tag_list, "Tags, separated by commas" %>
  <%= f.input :tag_list, label: false,  as: :string %>
  <%= f.button :submit %>
<% end %>