<%= content_for(:title) { @idiom.title} %>

<ul class="breadcrumb">
  <li><%= link_to "Home Page", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= link_to "Languages", idioms_path %> </li>
</ul>

<%= content_for :right_frame do %>
  <p><%= sanitize raw @idiom.description_right %></p>
  <small><%= link_to "Edit this frame", edit_idiom_path(frame: "right") %></small>
<% end %>

<% if signed_in? %>
  <%= content_for :sidebar do %>
    <% if @meetups.any? %>
    <h4><%= link_to "See all meetups for #{@idiom.title} near #{current_user.zip_code}",
          '#', id: "display_meetups" %></h4>
    <ul id="meetups">
      <% @meetups.each do |meetup| %>
        <li><%= link_to meetup.name, [@idiom, meetup] %></li>
      <% end %>
    <% else %>
    <h4>No Meetups found for <%= @idiom.title %> near <%= current_user.zip_code %></h4>
    <% end %>
    <hr>
    </ul>
    <h4>Please give us your feedback</h4>  
    <p>Upvote for a good description.  You can see more possibilities
     in the edits history</p>

    <%= upvote_button(@idiom) %>
    <%= downvote_button(@idiom) %>   
    Total Score: <%= score @idiom %><br>

    <div id="abuse">
    <% if signed_in? %>
      <%= report_button @idiom %>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= content_for(:left_frame) do %>

  <h1><%= @idiom.title %></h1> 
  <%= link_to "Edits history", idiom_edits_path(@idiom) %><br>
  <p><%= sanitize raw @idiom.description %></p>

  <span>Tags: <%= render @idiom.tags %></span><br>

  <small><%= link_to "Edit this frame", edit_idiom_path(frame: "left") %></small>
<% end %>

<%= content_for :bottom_frame do %>
  <% if signed_in? %>
  <h2>Comments</h2>
  <div class="comments">
    <ul>
      <%= render @idiom.comments %>
    </ul>
  </div>

  <h3><%= link_to "(+) Add a comment", '#', id: "create_new_comment" %></h3>
    <%= simple_form_for [@idiom, Comment.new], remote: true do |f| %>
      <%= f.input :message %>
      <%= f.button :submit %>
    <% end %>
  <% else %>
  <h2>Login to see comments</h2>
  <% end %>


<% end %>
