<%= content_for(:title) { @idiom.title} %>

<h1><%= @idiom.title %></h1>
<%= link_to "Edits history", idiom_edits_path(@idiom) %><br>
<p><%= @idiom.description %></p>

<span>Tags: <%= render @idiom.tags %></span><br>

<% if @idiom.comments.any? %>
<h2>Comments</h2>
<div class="comments">
  <ul>
    <%= render @idiom.comments %>
  </ul>
</div>
<% else %>
<h2>Be the first one to comment</h2>
<% end %>

<h3 id="create_new_comment">(+) Add a comment</h3>
<% if signed_in? %>
  <%= simple_form_for [@idiom, Comment.new], remote: true do |f| %>
    <%= f.input :message %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              idioms_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_idiom_path(@idiom), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              idiom_path(@idiom),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
