<%#= Sorry for anyone that has to read this fuckfest %>
<%= content_for(:title) { @idiom.title} %>

<ul class="breadcrumb">
  <li><%= link_to "Home Page", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= link_to "Languages", idioms_path %> </li>
</ul>

<%= content_for :right_frame do %>
  <p><%= sanitize raw @idiom.description_right %></p>
  <small><%= link_to "Edit this frame", edit_idiom_path(frame: "right") %></small>
<% end %>

<% if signed_in? %>
  <%= content_for :sidebar do %>
    <h4>Please give us your feedback</h4>  
    <p>Upvote for a good description.  You can see more possibilities
     in the edits history</p>

    <%= upvote_button(@idiom, @idiom.upvoted_by_user?(current_user)) %>
    <%= downvote_button(@idiom, @idiom.downvoted_by_user?(current_user)) %>   
    Total Score: <%= score @idiom %><br>

    <% if @idiom.tags.any? %>
      <h4>You tell us. Is <%= @idiom.title %>...</h4>
      <p> <%= @tag_for_voting.name if @tag_for_voting %>? </p>
      <span class="tag">
      <%= upvote_button @tag_for_voting, @tag_for_voting.
        upvoted_by_user?(current_user) %>
      <%= downvote_button @tag_for_voting, @tag_for_voting.
        downvoted_by_user?(current_user) %>
      </span>
    <% end %>  
    
    <div id="abuse">
    <% if signed_in? %>
      <%= report_button @idiom %>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= content_for(:left_frame) do %>


  <h1><%= @idiom.title %></h1> 
  <%= link_to "Edits history", idiom_edits_path(@idiom) %><br>
  <p><%= sanitize raw @idiom.description %></p>

  <span>Tags: <%= render @idiom.tags %></span><br>

  <small><%= link_to "Edit this frame", edit_idiom_path(frame: "left") %></small>
<% end %>

<%= content_for :bottom_frame do %>

  <h2>Comments</h2>
  <div class="comments">
    <ul>
      <%= render @idiom.comments %>
    </ul>
  </div>


  <h3><%= link_to "(+) Add a comment", '#', id: "create_new_comment" %></h3>
  <% if signed_in? %>
    <%= simple_form_for [@idiom, Comment.new], remote: true do |f| %>
      <%= f.input :message %>
      <%= f.button :submit %>
    <% end %>
  <% end %>

<% end %>
