<%= content_for(:title) { @idiom.title} %>
<%= content_for(:scripts) do %>
  <script id="zip_code" type="text/json">
    <%= raw current_user.zip_code.to_json if current_user %>
  </script>
  <script id="idiom_id" type="text/json">
    <%= raw @idiom.id.to_json %>
  </script>
  <%= javascript_include_tag 'handlebars-1.0.rc.1' %>
  <%= javascript_include_tag 'idioms' %>
<% end %>

<ul class="breadcrumb">
  <li><%= link_to "Home Page", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= link_to "Languages", idioms_path %> </li>
</ul>

<%= content_for :right_frame do %>
  <p><%= sanitize raw @idiom.description_right %></p>
  <small><%= link_to "Edit this frame", edit_idiom_path(frame: "right") %></small>
<% end %>

<% if signed_in? %>
  <%= content_for :sidebar do %>
    <div id="ajax-spinner">
      <h3>Loading meetups near <%= current_user.zip_code %></h3>
      <%= image_tag 'ajax-loader.gif' %>
    </div>
    <script id="meetup-list" type='text/x-handlebars-template'>
      <div id="meetups-div">
        <h3>Meetups near {{zip}}.</h3>
        {{#list urls}}<a href='{{link_url}}'>{{name}}</a>{{/list}}
      </div>
    </script>
    <script id="no-meetup-list" type='text/x-handlebars-template'>
      <div id="meetups-div">
        <h3>Found 0 meetups near {{zip}}.</h3>
      </div>
    </script>    
    <hr>
    </ul>
    <h4>Please give us your feedback</h4>  
    <p>Upvote for a good description.  You can see more possibilities
     in the edits history</p>

    <%= upvote_button(@idiom) %>
    <%= downvote_button(@idiom) %>   
    Total Score: <%= score @idiom %><br>

    <div id="abuse">
    <% if signed_in? %>
      <%= report_button @idiom %>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= content_for(:left_frame) do %>

  <h1><%= @idiom.title %></h1> 
  <%= link_to "Edits history", idiom_edits_path(@idiom) %><br>
  <p><%= sanitize raw @idiom.description %></p>

  <span>Tags: <%= render @idiom.tags %></span><br>

  <small><%= link_to "Edit this frame", edit_idiom_path(frame: "left") %></small>
<% end %>

<%= content_for :bottom_frame do %>
  <% if signed_in? %>
  <h2>Comments</h2>
  <div class="comments">
    <ul>
      <%= render @idiom.comments %>
    </ul>
  </div>

  <h3><%= link_to "(+) Add a comment", '#', id: "create_new_comment" %></h3>
    <%= simple_form_for [@idiom, Comment.new], remote: true do |f| %>
      <%= f.input :message %>
      <%= f.button :submit %>
    <% end %>
  <% else %>
  <h2>Login to see comments</h2>
  <% end %>


<% end %>
