<%= content_for(:title) { "The greatest home page ever" } %>
<%= content_for(:sidebar) do %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<% end %>

<div class="hero-unit">
  <h1>Welcome to the site!</h1>
  <p>Please visit <%= link_to "bss-project.herokuapp.com", "bss-project.herokuapp.com" %>
   for this site to be fully funcitonal, 
    otherwise there might be some problems with APIs.  Please also visit my 
    <%= link_to "github.", 'https://github.com/csahlman/' %></p>
    <%= link_to "About the site and Charlie Sahlman", 'pages/about' %>    
</div>
<% unless signed_in? %>
<div class="logins">
  <span id="facebook">
    <%= link_to (image_tag 'fb-connect-large.png'), 'auth/facebook' %>
  </span>
  <span id="twitter_login">
    <%= link_to (image_tag 'sign_in_with_twitter.jpg', id: "twitter"), '/auth/twitter' %>
  </span>
</div>
<% end %>
