<%= content_for(:title) { "Admin/Reports" } %>

<h1>Reported Objects</h1>
<%= link_to "Dashboard", admin_path %>

<%= content_for(:left_frame) do %>
<ul id="unresolved_reports">
  <% @reports.each do |report| %>
  <li>
    <span>
      <%= link_to report.reportable.class.to_s, [:admin, report.reportable], 
        id: "report_#{report.id}", remote: true %> | 
      <%= report.created_at %>
    </span>
  </li>
  <% end %>
</ul>
<% end %>

<%= content_for(:right_frame) do %>
  <div id="reported_content">
  </div>
<% end %>


