<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/header' %>
  <body>

    <%= render 'layouts/nav_links' %>

    <div class="container">
      <%= render 'shared/display_announcements' %>
      <%= render 'shared/display_flash' %>
        <div class="row">
          <div class="span9">
             <%= yield %>
          </div>
          <%= render 'layouts/sidebar' if content_for?(:sidebar) %>
        </div><!--/row-->

      <footer>
        <p>&copy; Boston Startup School 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
